Source: xed-terminal-plugin
Section: x11
Priority: optional
Maintainer: Nicola tudo75 Tudino <tudo75@hotmail.com>
Build-Depends:  debhelper (>= 9),
                meson,
                ninja-build,
                valac,
                dh-python,
                gnome-common,
                gnome-pkg-tools,
                gobject-introspection (>= 0.9.12-4~),
                intltool (>= 0.40.0),
                libgirepository1.0-dev (>= 0.10.7-1~),
                libglib2.0-dev (>= 2.30.0),
                libgtk-3-0 (>= 3.20),
                libpeas-dev,
                libpeas-1.0-0,
                libglib2.0-dev,
                libgtk-3-dev,
                libgtksourceview-4-dev,
                libxapp-dev,
                libvte-2.91-dev,
                xed-dev
Standards-Version: 3.9.5
X-Python3-Version: >= 3.1

Package: xed-terminal-plugin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Terminal Plugin for Xed written in Vala.
 
