#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --parallel

override_dh_missing:
	dh_missing --list-missing
	dh_missing --fail-missing

override_dh_auto_configure:
	meson debian/build \
		--prefix=/usr \
		--buildtype=plain \
		-D deprecated_warnings=false

override_dh_auto_clean:
	-dh_auto_clean

override_dh_auto_install:
	DESTDIR=${CURDIR}/debian/tmp \
	ninja -v -C debian/build install

override_dh_auto_build:
	ninja -v -C debian/build
